{% block body %}
    <h1>Projets</h1><br /><a href="/project/addProject"><button type="submit">Ajouter un projet</button></a><br/>
    <table>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Fichier Joint</th>
       </tr>
     {% for project in projects %}
        <tr>
            <td>{{project.titre}}</td>
            <td>{{project.description}}</td>
            <td>{{project.fichierJoint}}</td>
        </tr>
     {% endfor %}
    </table><br/>
    <a href="/project/updateProject"><button type="submit">Mettre à jour un projet</button></a><br/>
    <a href="/project/deleteProject"><button type="submit">Supprimer un projet</button></a><br/>
{% endblock %}
