{% block body %}
    <h1>Projets</h1><br /><button type="submit" href="/project/addProject">Ajouter un projet</button><br/>
    <table>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Fichier Joint</th>
       </tr>
     {% for project in projects %}
        <tr>
            <td>{{project.titre}}</td>
            <td>{{project.description}}</td>
            <td>{{project.fichierJoint}}</td>
        </tr>
     {% endfor %}
    </table><br/>
    <button type="submit" href="/project/updateProject">Mettre à jour un projet</button><br/>
    <button type="submit" href="/project/deleteProject">Supprimer un projet</button><br/>
{% endblock %}
