{% block body %}
  <h1>Mettre à jour un projet</h1>
  <form action="/project/update/:titre" method="PUT">
      <label for="titre">Titre du projet:</label><br>
      <input type="text" id="titre" name="titre" placeholder="Titre"><br>
      <label for="description">Description du projet:</label><br>
      <textarea cols="50px" rows="25px" id="description" name="description" placeholder="Description"></textarea><br>
      <button type="submit">Mettre à jour</button><br>
  </form>
{% endblock %}